@import "./variables.scss";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "warning": $warning,
  "danger": $danger,
  "success": $success
);

$btn-border-radius: 0;
$border-radius: 0;
// $input-btn-focus-color-opacity: 0;
$input-btn-padding-y: 0.6rem;
$list-group-active-bg: $primary;


@import "../bootstrap/scss/bootstrap";

// Custom styles
header {
  .toggle-menu {
    width: 3rem;
  }
}

.w-full{
  width: 100% !important;
}
.w-fit{
  width: fit-content;
}


.phone-input-group {
  .option-list {
    flex-basis: 30%;
  }
  .raw-number{
    flex-basis: 70%;
  }
}

.mobile-menu {
  width: 100%;
}

@media (max-width: $breakpoint_md) {
  .phone-input-group {
    .option-list {
      flex-basis: 25%;
    }
  }
}

.home {
  .section-1 {
    min-height: $landing_section_height;
    .landing-img {
      // width: 100%;
      width: 50%;
      right: 0;
      transform: scaleX(-1);
      z-index: -1;
      height: $landing_section_height;
      object-fit: cover;
      object-position: center;
    }
    .content {
      min-height: $min_height_of_the_page ;
    }
  }

  .section-2 {
    margin: $section_gap;
    .explain-box {
      width: 30%;
    }
  }

  .section-3 {
    padding: $section_gap;
    .trust_each_other {
      width: 100%;
    }
  }

  .section-4 {
    margin: $section_gap;
    .barchat_graph {
      width: 100%;
    }
  }
  .section-5 {
    .social-icon {
      width: 2rem;
    }
    .shape-list {
      width: 100%;
      .shape-image {
        width: 100%;
      }
    }
  }

  @media (max-width: $breakpoint_md) {
    .section-2 {
      .explain-box {
        width: 100% !important;
      }
    }
  }
}

.signup {
  .section-1 {
    margin: $section_gap;
    .row-no-input{
      margin-left: $row_no_input_margin;
    }
  }
}
.login{
  min-height: $min_height_of_the_page ;
  .section-1{
    margin: $section_gap;
    .row-no-input{
      margin-left: $row_no_input_margin;
    }
  }
}

.forget_password{
  min-height: $min_height_of_the_page ;
  .section-1{
    margin: $section_gap;
    .row-no-input{
      margin-left: $row_no_input_margin;
    }
  }
}


.admin{
  min-height: $min_height_of_the_page ;
  .section-1{
    margin: $section_gap;
  }
}
.admin{
  .section-2{
    .sidebar-menus{
      min-height: 80vh;
      .active{
        color: $secondary;
        background-color: $primary !important;
      }
    }
  }
  @media (max-width: $breakpoint_md) {
    .section-2{
      .sidebar-menus{
        min-height: fit-content;
        .sidebar-menu-items{
          position: fixed;
          bottom: 0;
          .menu-item{
            width: 16.66% !important;
            text-align: center !important;
            align-items: center !important;
          }
        }
      }
    }
  }
}

.packs{
  min-height: $min_height_of_the_page ;
  .section-1{
    margin: $section_gap;
    .pack-list{
      .pack-item{
        width: 30%;
      }
    }
  }
}

.pack_single{
  min-height: $min_height_of_the_page ;
  .section-1{
    margin: $section_gap;
    .highlight-item {
      width: 10rem;
    }
  }
}


.dashboard{
  .section-1{
    .sidebar-menus{
      min-height: 80vh;
      .active{
        color: $secondary;
        background-color: $primary !important;
      }
    }
  }
  @media (max-width: $breakpoint_md) {
    .section-1{
      .sidebar-menus{
        min-height: fit-content;
        .sidebar-menu-items{
          position: fixed;
          bottom: 0;
          .menu-item{
            width: $sidebar_menu_item_width !important;
            text-align: center !important;
            align-items: center !important;
          }
        }
      }
    }
  }
}

footer {
  background-color: #0d1321;
  p {
    line-height: 0.4rem;
  }
}

.page404{
  min-height: 60vh;
}


